@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: "Poppins";    
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
.mr-2{
  margin-right: 2rem;  
}
.header {
    display: flex;
    justify-content: space-around;
    height: 6.25rem;
    top: 0;
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    background-color: #FFF;
    align-items: center;
    box-shadow: 1px 1px 3px 1px #EEE;

}
.header__logo {
        width: 10.3125rem;

/*
        @mixin atSmall {
            display: none;
        }
*/
    }
.header__links {
        display: inline-block;
        padding: 1rem;
        font-family: "cinzel decorative";
        font-weight: 600;
        font-size: 14px;
    }
.header__links a {
            color: #7b7b7b;
        }
.header__links :hover {
            color: #B0914F;
        }
.header__links__hamburger{
            display: none;
        }
@media(max-width: 550px){
.header__links {
            display: none
    }
            .header__links__hamburger{
                display: block;
                font-size: 20px;
            }
    }
.image__pool {
        letter-spacing: 0.3rem;
        font-size: 1rem;
    }
@media(max-width: 550px){
.image__pool {
            font-size: 0.5rem;
            color: #000;
            top: 0;
            left: 0;
            display: none
    }
    }
.image__hotel {
        font-size: 5rem;
        font-family: serif;
    }
@media(max-width: 550px){
.image__hotel {
            font-size: 2.5rem;
            color: #000;
            top: 0;
            display: none
    }
    }
.image__description {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
            transform: translateX(-50%);
            text-align: center;
    }
.image__btn-left {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
@media(max-width: 550px){
.image__btn-left {
            display: none
    }
    }
.image__btn-right {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
@media(max-width: 550px){
.image__btn-right {
            display: none
    }
    }
.image1{
    display: none;
}
.image1__pool{
        letter-spacing: 0.3rem;
        font-size: 1rem;
    }
.image1__hotel{
        font-size: 5rem;
        font-family: serif;
    }
.image1__description{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        text-align: center;            
    }
.image1__btn-left{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
.image1__btn-right{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
.about-us {
    color: #000;
    text-align: center;
    padding-top: 3rem;

}
.about-us h6 {
        color: #B0914F;
        font-family: "cinzel decorative";
        font-size: 1rem;
        padding-bottom: 1rem;
    }
.about-us__hotel {
        font-family: serif;
        font-size: 3rem;
        padding-bottom: 2rem;
        position: relative;
    }
@media(max-width: 550px){
.about-us__hotel {
            font-size: 2.5rem;
            padding-bottom: 1.5rem
    }
    }
.about-us__hotel:after {
        position: absolute;
        content: ' ';
        width: 2rem;
        height: 2px;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        background: #B0914F;
    }
.about-us__description {
        padding: 1rem 16rem;
        line-height: 2rem;
        font-weight: 100;
        color: #7b7b7b;
        font-size: 14px;
    }
@media(max-width: 550px){
.about-us__description {
            padding: 1rem
    }
    }
.about-us__manager {
        font-family: serif;
        font-size: 18px;

        padding-bottom: 1rem;
    }
.about-us__manager span {
            color: #B0914F;
        }
.about-us__amenities {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
    }
@media(max-width: 550px){
.about-us__amenities {
            grid-template-columns: 2fr 2fr
    }
    }
.about-us__facility {
        position: relative;
        overflow: hidden;
    }
.about-us__facility1 {
        position: absolute;
        width: auto;
        top: 40%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        color: #FFF;
        font-family: "cinzel decorative";
        font-weight: 600;
        font-size: 2rem;
    }
.about-us__facility1 img {
            width: auto;
            display: inline-block;
        }
@media(max-width: 550px){
.about-us__facility1 {
            top: 30%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.5rem
    }
    }
.about-us__facility:hover img {
        transition: 0.3s;
        transform: scale(1.1);
    }
.rooms {
    color: #000;
    text-align: center;
    padding: 3rem 0;
    background-color: #EEE;
}
@media(max-width: 550px){
.rooms {
        padding-bottom: 0
}
    }
.rooms h6 {
        color: #B0914F;
        font-family: "cinzel decorative";
        font-size: 1rem;
        padding-bottom: 1rem;
    }
.rooms__hotel {
        font-family: "cinzel decorative";
        font-size: 3rem;
        padding-bottom: 2rem;
        position: relative;
        color: #333;
    }
@media(max-width: 550px){
.rooms__hotel {
            font-size: 1.5rem;
            padding-bottom: 1.5rem
    }
    }
.rooms__hotel:after {
        position: absolute;
        content: ' ';
        width: 2rem;
        height: 2px;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        background: #B0914F;
    }
.rooms__grid {
        padding: 2rem 14rem;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-gap: 2rem;

    }
@media(max-width: 550px){
.rooms__grid {
            padding: 1rem;
            grid-template-columns: 1fr;
            grid-gap: 1rem

    }
    }
.rooms__room-details {
        background-color: #FFF;
        
    }
.rooms__room-details p {
            color: #CCC;
        }
.rooms__room-details span {
            color: #B0914F;
            font-family: "cinzel decorative";
            font-size: 1.5rem;
            font-weight: 600;
        }
.rooms__room-type {
        padding: 1rem;
        font-family: serif;
        font-size: 2rem;
        text-align: left;
        font-weight: 300;
        border-bottom: solid 1px #DDD;
    }
.rooms__room-type__night {
            font-size: 12px !important;
        }
@media(max-width: 550px){
.rooms__room-type {
            text-align: center
    }
    }
.rooms__image{
        overflow: hidden;
    }
.rooms__image:hover img {
        transform: scale(1.1);
        transition: 0.3s;
    }
.testimonial {

    text-align: center;
    padding: 3rem 0;

}
.testimonial h6 {
        color: #B0914F;
        font-family: "cinzel decorative";
        font-size: 1rem;
        padding-bottom: 1rem;
    }
.testimonial__hotel {
        font-family: "cinzel decorative";
        font-size: 3rem;
        padding-bottom: 2rem;
        position: relative;
        color: #333;
    }
@media(max-width: 550px){
.testimonial__hotel {
            font-size: 1.5rem;
            padding-bottom: 1.5rem
    }
    }
.testimonial__hotel:after {
        position: absolute;
        content: ' ';
        width: 2rem;
        height: 2px;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        background: #B0914F;
    }
.testimonial__stars {
        padding: 2rem 0;
        color: #EEE;
    }
.testimonial__stars .fa-star {
            color: #F2BF52;
        }
@media(max-width: 550px){
.testimonial__stars {
            padding: 1rem 0
    }
    }
.testimonial__text {
        font-family: "Raleway";
        text-align: center;
        font-weight: 500;
        font-style: italic;
        padding: 0rem 18rem;
        line-height: 2rem;
        color: #7b7b7b;
        font-size: 14px;
    
    }
@media(max-width: 550px){
.testimonial__text {
            padding: 0 1rem
    
    }
    }
.testimonial__author {
        color: #000;
        font-size: 14px;
        font-weight: 600;

        padding-bottom: 1rem;
    }
.testimonial__author span {
            color: #B0914F;
        }
.testimonial__dot {
        font-size: 14px;
        color: #EEE;
    }
.testimonial__dot i {
            padding: 0 0.3rem;
        }
.testimonial__dot :hover {
            cursor: pointer;
        }
.testimonial__dot span:first-child {
            color: #B0914F;
        }
.gallery {
    height: 250px;
    position: relative;
    
}
@media(max-width: 550px){
.gallery {
        height: 750px
    
}
    }
.gallery_btn {
        color: #000;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        padding: 1rem;
        background-color: #FFF;

    }
.gallery_btn:hover {
        background-color: #B0914F;
        color: #FFF;
        transition: 0.3s;
    }
.gallery__image {
/*        position: relative;*/
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;

    }
.gallery__image img {
            height: 15.625rem;
        }
@media(max-width: 550px){
.gallery__image {
            position: absolute;
            grid-template-columns: 2fr 2fr

    }
    }
.gallery__overlay{
        position: relative;
    }
.gallery__overlay h2{
            display:none;
            position: absolute;
            top: 40%;
            left: 20%;
            color: #FFF;
            font-size: 24px;
        }
.gallery__overlay p{
            display: none;
            position: absolute;
            top: 45%;
            left: 30%;
            color: #FFF;
            font-size: 18px;
        }
.gallery__overlay:hover:after{
        position: absolute;
        content: ' ';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        
    }
.gallery__overlay:hover h2,.gallery__overlay:hover p{
            display: block;
        }
.top-btn {
    display: none;
}
.top-btn i {    
        z-index: 999;
        position: fixed;
        bottom: 10px;
        right: 10px;
        padding: 0.2rem 0.5rem;
        font-size: 1.8rem;
        background: #B0914F;
        color: #FFF;
    }
.footer {
    padding: 4rem 0;
    background: #333;
    color: #FFF;
    font-weight: 200;
}
.footer__address {
        position: relative;
        display: flex;
        justify-content: space-around;
        padding-bottom: 2rem;
    }
.footer__address i {
            color: #b0914f;
        }
@media(max-width: 550px){
.footer__address {
            justify-content: space-around
    }
    }
.footer__address:after {

        position: absolute;
        content: ' ';
        margin-left: 10rem;
        width: 80%;
        height: 2px;
        left: 0;
        bottom: 0;
        background: #444;

    }
.footer__developed-by {
        display: flex;
        justify-content: space-between;
        padding: 2rem 11.4rem;
    }
.footer__developed-by div {
            display: inline-block;
        }
.footer__developed-by div span {
                color: #b0914f;
            }
@media(max-width: 550px){
.footer__developed-by {
            padding: 1rem 1.5rem
    }
    }
.hamburger-menu{
    display: none;
    position: absolute;
    background: #FFF;
    width: 100%;
    z-index: 999;
    height: 100%;
}
.hamburger-menu__li{
        padding: 1rem;
        display: block;
        margin-bottom: 1rem;
        border-bottom: solid 1px #CCC;
    }
.hamburger-menu__icon{
        margin: 1rem;
        color: #CCC;
        font-size: 4rem;
        text-align: center;
    }
.hamburger-menu__icon :hover{
            cursor: pointer;
        }
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
