@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
    font-family: "Poppins";    
}

li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}
a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

.mr-2{
  margin-right: 2rem;  
}
