.about-us {
    color: #000;
    text-align: center;
    padding-top: 3rem;


    h6 {
        color: #B0914F;
        font-family: "cinzel decorative";
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    &__hotel {
        font-family: serif;
        font-size: 3rem;
        padding-bottom: 2rem;
        position: relative;

        @mixin atSmall {
            font-size: 2.5rem;
            padding-bottom: 1.5rem;
        }
    }

    &__hotel:after {
        position: absolute;
        content: ' ';
        width: 2rem;
        height: 2px;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        background: #B0914F;
    }

    &__description {
        padding: 1rem 16rem;
        line-height: 2rem;
        font-weight: 100;
        color: #7b7b7b;
        font-size: 14px;

        @mixin atSmall {
            padding: 1rem;
        }
    }

    &__manager {
        font-family: serif;
        font-size: 18px;

        span {
            color: #B0914F;
        }

        padding-bottom: 1rem;
    }

    &__amenities {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;

        @mixin atSmall {
            grid-template-columns: 2fr 2fr;

        }
    }

    &__facility {
        position: relative;
        overflow: hidden;
    }

    &__facility1 {
        position: absolute;
        width: auto;
        top: 40%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        color: #FFF;
        font-family: "cinzel decorative";
        font-weight: 600;
        font-size: 2rem;

        img {
            width: auto;
            display: inline-block;
        }

        @mixin atSmall {
            top: 30%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.5rem;
        }
    }

    &__facility:hover img {
        transition: 0.3s;
        transform: scale(1.1);
    }

}
