.top-btn {
    display: none;
    i {    
        z-index: 999;
        position: fixed;
        bottom: 10px;
        right: 10px;
        padding: 0.2rem 0.5rem;
        font-size: 1.8rem;
        background: #B0914F;
        color: #FFF;
    }
}
