.footer {
    padding: 4rem 0;
    background: #333;
    color: #FFF;
    font-weight: 200;
    


    &__address {
        position: relative;
        display: flex;
        justify-content: space-around;
        padding-bottom: 2rem;
        
        i {
            color: #b0914f;
        }
        
        @mixin atSmall{
            justify-content: space-around;
        }
    }

    &__address:after {

        position: absolute;
        content: ' ';
        margin-left: 10rem;
        width: 80%;
        height: 2px;
        left: 0;
        bottom: 0;
        background: #444;

    }

    &__developed-by {
        display: flex;
        justify-content: space-between;
        padding: 2rem 11.4rem;
        
        div {
            display: inline-block;

            span {
                color: #b0914f;
            }
        }
        @mixin atSmall{
            padding: 1rem 1.5rem;
        }
    }
}
