.gallery {
    height: 250px;
    position: relative;

    @mixin atSmall{
        height: 750px;
    }
    &_btn {
        color: #000;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        padding: 1rem;
        background-color: #FFF;

    }

    &_btn:hover {
        background-color: #B0914F;
        color: #FFF;
        transition: 0.3s;
    }

    &__image {
/*        position: relative;*/
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;

        img {
            height: 15.625rem;
        }
        
        @mixin atSmall{
            position: absolute;
            grid-template-columns: 2fr 2fr;
        }

    }
    &__overlay{
        position: relative;
        h2{
            display:none;
            position: absolute;
            top: 40%;
            left: 20%;
            color: #FFF;
            font-size: 24px;
        }
        p{
            display: none;
            position: absolute;
            top: 45%;
            left: 30%;
            color: #FFF;
            font-size: 18px;
        }
    }
    &__overlay:hover:after{
        position: absolute;
        content: ' ';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        
    }
    &__overlay:hover{
        h2,p{
            display: block;
        }
    }
    
}
