.hamburger-menu{
    display: none;
    position: absolute;
    background: #FFF;
    width: 100%;
    z-index: 999;
    height: 100%;
    &__li{
        padding: 1rem;
        display: block;
        margin-bottom: 1rem;
        border-bottom: solid 1px #CCC;
    }
    &__icon{
        margin: 1rem;
        color: #CCC;
        font-size: 4rem;
        text-align: center;
        :hover{
            cursor: pointer;
        }
    }
}