.header {
    display: flex;
    justify-content: space-around;
    height: 6.25rem;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 9999;
    background-color: #FFF;
    align-items: center;
    box-shadow: 1px 1px 3px 1px #EEE;

    &__logo {
        width: 10.3125rem;

/*
        @mixin atSmall {
            display: none;
        }
*/
    }

    &__links {
        display: inline-block;
        padding: 1rem;
        font-family: "cinzel decorative";
        font-weight: 600;
        font-size: 14px;

        a {
            color: #7b7b7b;
        }

        :hover {
            color: #B0914F;
        }
        
        &__hamburger{
            display: none;
        }
        
        @mixin atSmall{
            display: none;
            &__hamburger{
                display: block;
                font-size: 20px;
            }    
        }
    }

}
