.image1{
    &__pool{
        letter-spacing: 0.3rem;
        font-size: 1rem;
    }
    &__hotel{
        font-size: 5rem;
        font-family: serif;
    }
    &__description{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        text-align: center;            
    }
    &__btn-left{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
        &__btn-right{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    display: none;
}