.image {
    &__pool {
        letter-spacing: 0.3rem;
        font-size: 1rem;

        @mixin atSmall {
            font-size: 0.5rem;
            color: #000;
            top: 0;
            left: 0;
            display: none;
        }
    }

    &__hotel {
        font-size: 5rem;
        font-family: serif;

        @mixin atSmall {
            font-size: 2.5rem;
            color: #000;
            top: 0;
            display: none;
        }
    }

    &__description {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
            transform: translateX(-50%);
            text-align: center;
    }

    &__btn-left {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        
        @mixin atSmall{
            display: none;
        }
    }

    &__btn-right {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        
        @mixin atSmall{
            display: none;
        }
    }
}
