.rooms {
    color: #000;
    text-align: center;
    padding: 3rem 0;
    background-color: #EEE;
    
    @mixin atSmall{
        padding-bottom: 0;
    }
    h6 {
        color: #B0914F;
        font-family: "cinzel decorative";
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    &__hotel {
        font-family: "cinzel decorative";
        font-size: 3rem;
        padding-bottom: 2rem;
        position: relative;
        color: #333;
        
        @mixin atSmall{
            font-size: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    &__hotel:after {
        position: absolute;
        content: ' ';
        width: 2rem;
        height: 2px;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        background: #B0914F;
    }

    &__grid {
        padding: 2rem 14rem;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-gap: 2rem;
        
        @mixin atSmall{
            padding: 1rem;
            grid-template-columns: 1fr;
            grid-gap: 1rem;
        }

    }

    &__room-details {
        background-color: #FFF;

        p {
            color: #CCC;
        }

        span {
            color: #B0914F;
            font-family: "cinzel decorative";
            font-size: 1.5rem;
            font-weight: 600;
        }
        
    }
    

    &__room-type {
        padding: 1rem;
        font-family: serif;
        font-size: 2rem;
        text-align: left;
        font-weight: 300;
        border-bottom: solid 1px #DDD;

        &__night {
            font-size: 12px !important;
        }
        
        @mixin atSmall{
            text-align: center;
        }
    }

    &__image{
        overflow: hidden;
    }

    &__image:hover img {
        transform: scale(1.1);
        transition: 0.3s;
    }
}
